# ==========================
# Python
# ==========================

# Virtual environment
.venv/

# Compiled Python files
__pycache__/
*.py[cod]

# ==========================
# VS Code
# ==========================

.vscode/

# ==========================
# Operating System
# ==========================

.DS_Store